.navbar-brand {
    background-image: url('../svg/pardna_logo_full_colour.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.pardna-logo {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-left: 10px;
    height: 64px;
}

@media (max-width:767px) {
    .pardna-logo {
        background-image: url('../svg/pardna_p_logo_colour.svg');
        width: 50px;
        margin-left: 25px
    } 
}

@media (min-width:768px) {
    .pardna-logo {
        background-image: url('../svg/pardna_logo_full_white.svg'); 
        width: 250px;
    } 
}