# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
node_modules_
npm-debug*
.vagrant
.DS_Store
build

src/bower_components

nbproject
/.project
