/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Icons Fonts
-------------------------------------------------------------------------*/
@font-face {
  font-family: "pardna-font-icon";
  src: url("../fonts/pardna-font-icon.eot");
  src: url("../fonts/pardna-font-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/pardna-font-icon.woff") format("woff"), url("../fonts/pardna-font-icon.ttf") format("truetype"), url("../fonts/pardna-font-icon.svg#pardna-font-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before,
.footer__social--email:before,
.footer__social--twitter:before,
.footer__social--facebook:before {
  font-family: "pardna-font-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.footer__social--email:before,
.icon-email-envelope:before {
  content: "f"; }

.footer__social--facebook:before,
.icon-facebook:before {
  content: "g"; }

.footer__social--twitter:before,
.icon-twitter:before {
  content: "q"; }

.footer__social--twitter:before,
.footer__social--facebook:before,
.footer__social--email:before {
    font-size: 20px;
    position: absolute;
    left: 0;
}

.page-footer i.material-icons {
    font-size: 24px;
    position: absolute;
    left: 0;
}

.group .icon {
  background: url(../img/icon-group.svg) no-repeat 50%;
  background-size: contain;
  height: 70px;
  display: block;
}

.secure .icon {
  background: url(../img/icon-padlock.svg) no-repeat 50%;
  background-size: contain;
  height: 70px;
  display: block;
}

.rates .icon {
  background: url(../img/icon-percentage.svg) no-repeat 50%;
  background-size: contain;
  height: 70px;
  display: block;
}

body {
    background-color: #6f2f6b;
    color: #000
}

nav ul a,
nav .brand-logo {
  color: #fff !important;
}

h1, h2, h3, h4, h5 {
    font-family: Aller Light,aller_lightregular,Arial;
}

p {
  line-height: 2rem;
}

.purple {
    background-color: #6f2f6b !important;
}


a.brand-logo {
    background: url(../img/logo-full-white.svg) no-repeat 0 50%;
    background-size: 90%;
    width: 250px;
    height: 64px;
}

#index-banner {
    display: flex;
    align-items: center;
}

#index-banner h1 {
    text-shadow: #000 1px 1px;
    font-family: Aller Light,aller_lightregular,Arial;
    font-size: 2.5em;
    padding: 0 0.75rem;
}

.promoboxes {
    margin-bottom: 0
}

#play-video-button {
    color: purple;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 50%;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-left: -50px;
    opacity: 0;
}

.video {
    position: relative;
    margin-bottom: 0;
}

.row_signup {
    color: #fff;
    display: flex;
    align-items: center;
}

.container_signup #mc_embed_signup {
    margin-top: 1.14rem
}

.container_signup #mc_embed_signup h4 {
    font-size: 2.5em;
}

.world {
    padding: 40px 0;
}

.world .container {
    display: flex;
    align-items: center;
}


.world__image img {
    width: 100%;
    margin-top: 1.14rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container h5 {
    text-shadow: #000 1px 1px;
}

.parallax {
    background-color: #000;
}

.parallax img{
    opacity: 0.7;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

    .submit-button-container {
        padding: 0 0.75rem;
    }

    .row_signup,
    .world .container {
        display: block;
    }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
    margin: 0;
    color: #fff;
}

footer.page-footer div {
    text-align: center;
}

.footer__social {
    padding: 10px 0 !important;
}

footer.page-footer a,
.page-footer .footer__social--phone {
    color: #fff;
    position: relative;
    padding-left: 25px;
}

/** email signup form **/

#mc_embed_signup_scroll .email::-webkit-input-placeholder,
#mc_embed_signup_scroll .email:-ms-input-placeholder,
#mc_embed_signup_scroll .email::-ms-input-placeholder,
#mc_embed_signup_scroll .email::placeholder {
    color: #999;
}

#mc_embed_signup_scroll .email {
    height: 3.5em;
    text-indent:15px;
    color: #000;
}

#mc_embed_signup_scroll input[type=email]:focus:not([readonly]) {
    border-bottom: none;
    box-shadow: none;
}

.icon-block h2 {
    font-size: 2.5rem;
}

.icon-block h2 i {
    border-radius: 50px;
    padding: 15px;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    #index-banner h1 {
        font-size: 2.2em
    }
}

@media only screen and (max-width: 320px) {
    .submit-button-container {

    }
}

@media only screen and (max-width: 860px) {
    .video {
        display: none;
    }
}

/** override materialize header styling **/

nav,
nav ul a {
    height: 64px;
    line-height: 64px
}

.hide-on-med-and-down {
    display: block !important
}

.button-collapse {
    display: none !important;
}

.brand-logo {
    left: 0 !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
}

/****/


/** Aller Lite Font **/

@font-face {
    font-family: "allerbold";
    src: url("../fonts/aller/aller_bd-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_bd-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "allerbold_italic";
    src: url("../fonts/aller/aller_bdit-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_bdit-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alleritalic";
    src: url("../fonts/aller/aller_it-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_it-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aller_lightregular";
    src: url("../fonts/aller/aller_lt-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_lt-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aller_lightitalic";
    src: url("../fonts/aller/aller_ltit-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_ltit-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "allerregular";
    src: url("../fonts/aller/aller_rg-webfont.woff2") format("woff2"),
         url("../fonts/aller/aller_rg-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aller_displayregular";
    src: url("../fonts/aller/allerdisplay-webfont.woff2") format("woff2"),
         url("../fonts/aller/allerdisplay-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
