.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (max-width: 768px) { 
	@-webkit-keyframes slideInDown {
	  from {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	  }
	
	  100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}
	
	@keyframes slideInDown {
	  from {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	  }
	
	  100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	}
	
	.slideInDown {
	  -webkit-animation-name: slideInDown;
	  animation-name: slideInDown;
	}



	
	@-webkit-keyframes slideOutUp {
	  from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	
	  100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	  }
	}
	
	@keyframes slideOutUp {
	  from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	  }
	
	  100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	  }
	}
	
	 .slideOutUp {
	  -webkit-animation-name: slideOutUp;
	  animation-name: slideOutUp;
	}



}


