<div class="center-block w-xxl w-auto-xs p-v-md ng-scope">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">

      </div>
    </div>
    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b">
        Forgot your password?
        <p class="text-xs m-t">Enter your email address below and we will send you instructions on how to change your password.</p>
      </div>
      <form name="reset" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
        <div class="md-form-group">
          <input type="email" ng-model="email" class="md-input ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
          <label>Your Email</label>
        </div>
        <button md-ink-ripple="" type="submit" class="md-btn md-raised pink btn-block p-h-md" title="Hey!" data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container" bs-alert="" ng-disabled="reset.$invalid" aria-disabled="true" disabled="disabled">Send</button>
      </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Return to <button ui-sref="login" class="md-btn">Sign in</button></div>
  </div>
