$cta-colour: #c31c5e;
$cta-colour-active: #9f154b;
$pardna-purple: #6f2f6b;

$light-grey: #efefef;
$medium-grey: #e3e3e3;
$dark-grey: #999;

$link-colour: $cta-colour;
$link-colour-hover: $cta-colour-active;