.dashboard {
	min-height: 600px;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;   
	display: flex; 
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.dashboard__form {
    position: relative;
}

.dashboard__form .edit{
    position: absolute;
    top: 20px;
    right: 20px;
}

.dashboard__form,
.dashboard__new,
.dashboard__active,
.dashboard__history {
    border: 1px solid $primary-colour;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

hr {
    margin: 1rem 0;
    border: 1px dashed $dark-grey;
}