<form class="ng-pristine ng-valid">
  <div class="row-">
    <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
      
      <div class="flex md-layout-row layout-align-center-center add-friends-email" style="min-height: 200px">
          <h4>Add the close friends and family members you would like to save with in this Pardna group</h4>
          <div class="col-sm-6 add-new-members">
              <div>Add the email addresses of close friends and family members to invite them to join.</div>
                <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
                    <md-input-container style="" class="md-default-theme md-input-has-value col-sm-12">
                        <label for="email_1">Friend / family member's email address</label>
                        <input class="ng-pristine ng-untouched ng-valid md-input" id="email_1" aria-invalid="false">
                    </md-input-container>
                </div>
                <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
                    <md-input-container style="" class="md-default-theme md-input-has-value col-sm-12">
                        <label for="email_2">Friend / family member's email address</label>
                        <input class="ng-pristine ng-untouched ng-valid md-input" id="email_2" aria-invalid="false">
                    </md-input-container>
                </div>
                <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
                    <md-input-container style="" class="md-default-theme md-input-has-value col-sm-12">
                        <label for="email_3">Friend / family member's email address</label>
                        <input class="ng-pristine ng-untouched ng-valid md-input" id="email_3" aria-invalid="false">
                    </md-input-container>
                </div>
                <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
                    <md-input-container style="" class="md-default-theme md-input-has-value col-sm-12">
                        <label for="email_4">Friend / family member's email address</label>
                        <input class="ng-pristine ng-untouched ng-valid md-input" id="email_4" aria-invalid="false">
                    </md-input-container>
                </div>

            <div class="col-sm-12 add-more-emails">
          <button md-ink-ripple="" class="md-btn md-raised pull-left p-h-md blue" ng-click=""> Add More Emails </button>
                </div>
            </div>
          <div class="col-sm-6 add-existing-members">
              <div>Select from your exisiiting Pardna.com members.</div>
          <div class="card contacts">
            <div class="list-group list-group-lg no-bg">
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
                </span>
                <label><input type="checkbox" value="" name="" > Amy Chard</label>
              </a>
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-neutral i-20 text-muted-dk"></i>
                </span>
                  <label><input type="checkbox" value="" name="" > Lisa Milne</label>
              </a>
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
                </span>
                  <label><input type="checkbox" value="" name="" > Fatimah Malik</label>
              </a>
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
                </span>
                  <label><input type="checkbox" value="" name="" > Sally Jones</label>
              </a>
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-neutral i-20 text-muted-dk"></i>
                </span>
                  <label><input type="checkbox" value="" name="" > Asif Ram</label>
              </a>
              <a href="" class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
                </span>
                  <label><input type="checkbox" value="" name="" > Joseph Chan</label>
              </a>
            </div>
          </div>
          </div>

      </div>
      <hr />
    </div>
    <hr />
    <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
      <div class="col-xs-12">
        <div class="lt p">
          <button md-ink-ripple="" class="md-btn md-raised pull-left p-h-md pink" ng-click="previous()"> Previous </button>
          <button md-ink-ripple="" class="md-btn md-raised pull-right p-h-md pink" ng-click="add()"> Setup Pardna Group </button>
        </div>
      </div>
    </div>
  </div>
</form>
