<form class="ng-pristine ng-valid">
  <div class="row-">
    <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">

      <div class="flex md-layout-row layout-align-center-center add-friends-email" style="min-height: 200px">
          <h4>Add the close friends and family members you would like to save with in this Pardna group</h4>
          <div class="col-sm-6 add-new-members">
              <div>Add the email addresses of close friends and family members to invite them to join.</div>
                <div ng-repeat="email in pardna.emails track by $index" class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
                    <md-input-container style="" class="md-default-theme md-input-has-value col-sm-12">
                        <label for="email_{$index}">Friend / family member's email address</label>
                        <input ng-model="email.email" class="ng-pristine ng-untouched ng-valid md-input" id="email_{$index}">
                    </md-input-container>
                </div>

            <div class="col-sm-12 add-more-emails">
          <button md-ink-ripple="" class="md-btn md-raised pull-left p-h-md blue col-xs-12" ng-click="addEmail()"> Add More Emails </button>
                </div>
            </div>
          <div class="col-sm-6 add-existing-members">
              <div>Select from your existing friends and family.</div>
            
         <div class="card contacts">
            <div class="list-group list-group-lg no-bg" style="max-height: 200px">
              <a href="" class="list-group-item text-ellipsis" ng-repeat="r in ui.relationships">
                <span class="pull-right">
                  <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
                </span>
                {{ r.fullname }}
                </a>
            </div>
          </div>  
              
          </div>

      </div>
      <hr />
    </div>
    <hr />
    <div class="md-layout-row md-layout-sm-column" flex layout="row" layout-align="space-between center">
      <div class="col-xs-12">
        <div class="lt p">
          <button md-ink-ripple="" class="md-btn md-raised pull-left p-h-md pink col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 previous-button" ng-click="previous()"> Previous </button>
          <button md-ink-ripple="" class="md-btn md-raised pull-right p-h-md pink col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-click="add()"> Setup Pardna Group </button>
        </div>
      </div>
    </div>
  </div>
</form>
