<div class="app-content">
  <div class="box">
    <div ui-view="nav"></div>
  </div>
    <!-- Content -->
    <div layout="row">
      <md-content flex="70" flex-sm="100" flex-xs="100" class="md-padding mdl-grid add-new-pardna" layout-padding laout-margin layout-xs="column">
        <md-toolbar hide-xs>
          <div class="md-toolbar-tools card-heading">
          <span><md-icon md-svg-icon="img/icons/ic_pardna_white_24px.svg"></md-icon> Update Pardna Group </span>
        <span ui-sref="home" class="md-toolbar-nav">Back</span>
          </div>
        </md-toolbar>

        <md-content class="md-padding">
            <div ui-view="pardna-details"></div>
        </md-content>

      </md-content>
</div>

</div>
