<div id="content" class="app-content" role="">
  <div class="box">
    <div ui-view="nav"></div>
    <!-- Content -->
    <div class=" box-row" id="firstLogin">
      <div class="box-cell">
        <!-- uiView:  -->
        <div class="box-inner padding ng-scope col-md-8 col-md-offset-2" ui-view="" id="view">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <span class="verify">
                 <span class="verify-text"><h3>Set up Payment</h3>You need to choose the account in which to set up the direct debit for this pardna</span>
                 <a class="md-btn md-raised p-h-md blue md-ink-ripple" ui-sref="payment-setup({id: group_id})">Set up payment</a>
              </span>
              <div class="group-details__header row no-gutter">
                <div class="col-xs-12">
                    <h1>Group Details<span ui-sref="home" class="group-details__sub-nav">Back</span></h1>
                    The payout dates for group <span class="group-details__group-name">{{ ui.data.name }}</span> are listed below. To choose or change your payout date, select an available slot.
                    <h2>{{ ui.data.name }}</h2>
                </div>
              </div>
              <div class="row group-details__slots">
                  <span class="my-icon"><span></span><i></i></span>
                <div class="slot" ng-repeat="slot in ui.slots">
                      <a class="thumbnail" ng-click="showConfirm(slot)" ng-if="!slot.claimed">
                        Available Slot {{ slot.position }}
                          <span class="slot__payout-date">Payout date:</span>
                        {{ slot.pay_date | date:'dd MMM yyyy' }}
                          <span class="slot__fee">Fee: {{ slot.charge_percent }}%</span>
                      </a>
                      <a class="thumbnail slot--yours" ng-if="slot.claimed && user.membership_number == slot.claimant">
                        Your Slot <br />
                          <span class="slot__payout-date">Payout date:</span>
                        {{ slot.pay_date | date:'dd MMM yyyy' }}
                          <span class="slot__fee">Fee: {{ slot.charge_percent }}%</span>
                      </a>
                      <a class="thumbnail slot--claimed" ng-if="slot.claimed && user.membership_number != slot.claimant">
                        {{ slot.fullname }}
                          <span class="slot__payout-date">Payout date:</span>
                        {{ slot.pay_date | date:'dd MMM yyyy' }}
                          <span class="slot__fee">Fee : {{ slot.charge_percent }}%</span>
                      </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- / -->
    </div>
  </div>
</div>
