/* Carousel
-------------------------------------------------------------------------*/
.carousel {
	background-color: $medium-grey;
	padding: 20px;
	position: relative;
}

.carousel h1 {
	text-align: center
}