<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-show="{{allowSetupPayment}}">Setup Payment</h2>
        <h2 ng-show="{{! allowSetupPayment}}">Bank Account Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h4 ng-show="{{allowSetupPayment}}">Details</h4>
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h4>Status</h4>
              <p ng-show="{{chosenBankAccount.enabled}}">Enabled</p>
              <p ng-show="{{! chosenBankAccount.enabled}}">Disabled</p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h4>Created</h4>
              <p>{{chosenBankAccount.created_at | date:'d MMMM y'}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h4>Account holder</h4>
              <p>{{chosenBankAccount.account_holder_name}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h4>Account no. ending</h4>
              <p>••••••{{chosenBankAccount.account_number_ending}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
              <h4>Bank Name</h4>
              <p>{{chosenBankAccount.bank_name}}</p>
            </div>
          </md-list-item>
        </md-list>
        <div ng-show="{{allowSetupPayment}}">
          <h4>Terms & Conditions</h4>
          <div flex>
            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
              You agree to the full terms and conditions
            </md-checkbox>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions ng-show="{{allowSetupPayment}}" layout="row">
      <div layout="row" layout-align="center center">
        <md-button class="md-warn md-raised md-hue-2" ng-click="bankacc(chosenBankAccount)">SETUP PAYMENT</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
