<md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
  <md-card-title style="padding: 6px 5px 5px !important;" class="bankaccount-card-title">
    <md-card-title-media>
      <div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
        <md-icon md-svg-icon="img/icons/ic_credit_card_black_24px.svg"></md-icon>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span>••••••{{accountnumberending}}</span>
      <span class="md-subhead description">{{bankname}}</span>
      <span class="md-subhead description">{{accountholdername}}</span>
    </md-card-title-text>
  </md-card-title>
</md-card>
