<md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
  <md-card-title class="bankaccount-card-title">
    <md-card-title-media>
      <div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
        <i class="material-icons">account_balance</i>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span>••••••{{accountnumberending}}</span>
      <span class="md-subhead description">{{bankname}}</span>
      <span class="md-subhead description">{{accountholdername}}</span>
    </md-card-title-text>
  </md-card-title>
</md-card>
