<md-content class="md-padding">
  <md-card ng-repeat="group in ui.list">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{group.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/ic_settings_black_48px.svg"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>
    <md-list class="md-dense" flex>
      <md-divider ></md-divider>
      <md-subheader class="md-no-sticky">Details</md-subheader>
      <md-list-item class="md-2-line" class="startdate">
        <md-icon md-svg-icon="img/icons/ic_today_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Start Date </p>
          <h3> {{group.startdate | date:'d MMMM y'}} </h3>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" class="endtime">
        <md-icon md-svg-icon="img/icons/ic_date_range_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> End Date </p>
          <h3> {{group.enddate | date:'d MMMM y'}} </h3>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" class="frequency">
        <md-icon md-svg-icon="img/icons/ic_schedule_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Frequency </p>
          <h3> {{group.frequency}} </h3>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" class="amount">
        <md-icon md-svg-icon="img/icons/ic_attach_money_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Amount </p>
          <h3> {{group.amount | currency: group.currency}} </h3>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Payment</md-subheader>
    <md-list class="md-dense" flex>
      <md-list-item class="md-2-line md-no-proxy">
        <md-icon md-svg-icon="img/icons/ic_credit_card_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Payment Status </p>
          <div ng-if="group.members[group.member_key].allow_choose_payment">
            <h3 md-colors="{color:'red'}"> {{group.members[group.member_key].payment_status}} </h3>
          </div>
          <div ng-if="group.members[group.member_key].allow_edit_payment">
            <h3 md-colors="{color:'amber'}"> {{group.members[group.member_key].payment_status}} </h3>
          </div>
        </div>
        <md-button ng-if="group.members[group.member_key].allow_choose_payment" class="md-secondary" ui-sref="payment-setup({id: group.id})">Choose Payment</md-button>
        <md-button ng-if="group.members[group.member_key].allow_edit_payment" class="md-secondary md-icon-button" ui-sref="paymentstatus({id: group.id})" aria-label="call">
          <md-icon md-svg-icon="img/icons/ic_mode_edit_black_48px.svg"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Slot</md-subheader>
    <md-list class="md-dense" flex>
      <md-list-item class="md-2-line">
        <md-icon md-svg-icon="img/icons/ic_today_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Payout Date </p>
          <div ng-if="!group.members[group.member_key].slot_id">
            <h3 md-colors="{color:'red'}"> CHOOSE SLOT </h3>
          </div>
        </div>
        <md-button ng-if="!group.members[group.member_key].slot_id" class="md-secondary" ui-sref="group-details({id: group.id})">Choose Slot</md-button>
        <md-button ng-if="group.members[group.member_key].slot_id" class="md-secondary md-icon-button" ui-sref="group-details({id: group.id})" aria-label="call">
          <md-icon md-svg-icon="img/icons/ic_mode_edit_black_48px.svg"></md-icon>
        </md-button>
      </md-list-item>
      <md-list-item class="md-2-line md-no-proxy">
        <md-icon md-svg-icon="img/icons/ic_date_range_black_24px.svg"></md-icon>
        <div class="md-list-item-text">
          <p> Next Payin Date</p>
          <h3> 10 June 2017 </h3>
        </div>
        <md-button class="md-secondary" ng-click="doSecondaryAction($event)">View Mandate</md-button>
      </md-list-item>
    </md-list>
    <md-list class="fixedRows">
      <md-divider ></md-divider>
      <md-subheader class="md-no-sticky">Members</md-subheader>
      <md-list-item class="md-2-line contact-item" ng-repeat="(index, member) in group.members">
        <img ng-src="http://lorempixel.com/50/50/people?{{index}}" class="md-avatar" alt="{{member.fullname}}" />
        <div class="md-list-item-text compact">
          <h3>{{member.fullname}}<md-badge class="md-warn" ng-if="member.user_id == group.admin">Group Admin</md-badge></h3>
          <p>{{member.email}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-card>
</md-content>
