<div id="content" class="app-content" role="">
  <nav ng-show="user.verified != '1'" mfb-menu position="br" effect="zoomin" label="Close"
       active-icon="ion-close-round" resting-icon="ion-plus-round"
       toggling-method="click">
    <button mfb-button icon="ion-android-person-add" label="Add group" ui-sref="group-add"></button>
  </nav>
  <div class="box">
    <div ui-view="nav"></div>
    <!-- Content -->
    <div class="box-row" id="firstLogin">
      <div class="col-xs-12 user-details-container">
        <div class="card card-user-details col-md-10 col-xs-12">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 user-details-row">
                <div class="r-t">
                  <div class="h2 fa-user-details">
                    <i class="fa fa-user glyphicon glyphicon-user fa-2x"></i>
                      <div class="fa-user-name-number">
                          <span class="">
                              <h2><span>
                                      <span id="user-fullname">{{ user.fullname }}</span>
                                      <span id="verified" class="fa fa-check" ng-show="user.verified == '1'"></span>
                                      <span id="unverified" class="fa unverified" ng-show="user.verified != '1'">Unverified</span>
                                  </span>
                                  <span>
                                      <span id="membership-no" class="small">Membership No. {{ user.membership_number }}</span>
                                  </span>
                              </h2>
                          </span>
                      </div>
                  </div>
                  <span class="verify" ng-show="user.verified != '1'">
                     <span class="verify-text"><h3>Verify Your Account</h3>In order to start your first Pardna, you need to verify your account. Get your mobile phone to hand and click "Send Code" to begin.</span>
                  <a class="md-btn md-raised p-h-md pink md-ink-ripple" ng-click="sendCode($event)">Send Code</a>
                  <a class="md-btn md-raised p-h-md blue md-ink-ripple" ng-click="verifyCode($event)">Verify Account</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-gt-sm="25" ui-view="friends" flex >
      </div>
      <div flex-xs flex-gt-xs="75" layout="column">
        <md-tabs class="md-accent md-dynamic-height" md-selected="1" md-border-bottom md-autoselect>
          <md-tab label="Invites">
            <div ui-view="pardna-invites"></div>
          </md-tab>
          <md-tab label="Pardnas">
            <div ui-view="pardna-groups"></div>
          </md-tab>

        </md-tabs>
      </div>
      <!-- <div ui-view="floating-add">
      </div> -->
    </md-content>
  </div>
  <!-- / content -->
<div ui-view="confirmation"></div>
