<div id="content" class="app-content" role="">

  <div class="box">
    <div ui-view="nav"></div>
    <!-- Content -->
    <div class="box-row" id="firstLogin">
      <div class="col-xs-12 user-details-container">
        <div class="card card-user-details col-md-12 col-xs-12">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 user-details-row">
                <div class="r-t">
                  <div class="h2 fa-user-details">

                   <i class="material-icons member">person</i>
                      <div class="fa-user-name-number">
                          <span class="">
                              <h2><span>
                                      <span id="user-fullname">{{ user.fullname }}</span>
                                      <span id="verified" class="fa fa-check" ng-show="user.verified == '1'"></span>
                                      <span id="unverified" class="fa unverified" ng-show="user.verified != '1'">Unverified</span>
                                  </span>
                                  <span>
                                      <span id="membership-no" class="small">Membership No. {{ user.membership_number }}</span>
                                  </span>
                              </h2>
                          </span>
                      </div>
                  </div>
                  <span class="verify" ng-show="user.verified != '1'">
                     <span class="verify-text"><h3><i class="material-icons">error</i>Verify Your Account</h3>In order to join or create your first Pardna, you need to verify your account. Get your mobile phone to hand and click "Send Code" to begin.</span>
                  <a class="md-btn md-raised p-h-md btn1 md-ink-ripple" ng-click="sendCode($event)">Send Code</a>
                  <a class="md-btn md-raised p-h-md btn1 md-ink-ripple" ng-click="verifyCode($event)">Verify Account</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-cloak>
    <md-content class="md-padding mdl-grid" layout-padding laout-margin layout-xs="column" layout="row">
      <div flex-gt-sm="70" layout="column">
        <md-toolbar layout="row">
          <div class="md-toolbar-tools card-heading">
            <span><md-icon md-svg-icon="img/icons/ic_pardna_white_24px.svg"></md-icon> My Pardna Groups</span>
          </div>
        </md-toolbar>
        <md-tabs class="md-dynamic-height" md-selected="0" md-border-bottom md-autoselect>
          <md-tab label="Pardna Invites">
            <div ui-view="pardna-invites"></div>
          </md-tab>
          <md-tab label="Manage Pardnas">
            <div ui-view="pardna-groups"></div>
          </md-tab>
        </md-tabs>
        <md-button class="btn-create-pardna hide-xs md-primary" ui-sref="group-add" ng-show="user.verified == '1'" ><i class="material-icons">add</i> Create New Pardna </md-button>
        <md-button class="btn-create-pardna-disabled hide-xs" ng-disabled="true" ng-show="user.verified != '1'"><i class="material-icons">add</i> Create New Pardna </md-button>
        <nav class="show-xs hide-gt-xs" ng-show="user.verified != '1'" mfb-menu position="br" effect="zoomin" label="Close"
             active-icon="ion-close-round" resting-icon="ion-plus-round"
             toggling-method="click">
          <button mfb-button icon="ion-android-person-add" label="Add group" ui-sref="group-add"></button>
        </nav>

      </div>
      <div flex-gt-sm="30" ui-view="friends">
      </div>
      <!-- <div ui-view="floating-add">
      </div> -->
    </md-content>
  </div>
  <!-- / content -->
<div ui-view="confirmation"></div>
