<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" layout"row">
        <h2 flex>Send Invites To Your Pardna Group</h2>
        <md-button class="md-icon-button" ng-click="cancel()" flex="10">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <md-card ng-show="inviteserviceresponse.success" md-theme="dark-blue">
        <md-card-content>
        <div id="message" layout="row"  layout-align="start center">  <i class="material-icons" flex="10">check</i>  <div flex="90">Invites sent!</div>
        </div>
        </md-card-content>
      </md-card>
      <md-card ng-show="inviteserviceresponse.failure" md-theme="dark-orange">
        <md-card-content>
        <p id="message"> Unable to send emails!!</p>
        </md-card-content>
      </md-card>

  <div label="Enter Email Addresses" id="invite-by-email">
    <invitebyemail-card inviteserviceresponse="inviteserviceresponse" invite="invite" modal="true" group="group" ></invitebyemail-card>
  </div>


<!--
      <md-tabs class="md-dynamic-height" md-selected="0" md-border-bottom md-autoselect>

        <md-tab label="Select From Contacts" ng-click="showInviteFriends()">
          <div id="invite-friends" ng-show="invitestate.byfriends">
            <div>
              <md-list-item ng-repeat="person in ui.relationships" ng-init="person.selected = false">
                <img alt="{{ person.fullname }}" ng-src="img/100-2.jpeg" class="md-avatar" />
                <p>{{ person.fullname }}</p>
                <md-checkbox class="md-secondary" ng-change="personStateChanged(person.selected)" ng-model="person.selected"></md-checkbox>
              </md-list-item>
            </div>
          </div>
        </md-tab>

        <md-tab label="Enter Email Addresses" ng-click="showInviteByEmail()">
          <div id="invite-by-email" ng-show="invitestate.byemail">
            <invitebyemail-card inviteserviceresponse="inviteserviceresponse" invite="invite" modal="true" group="group" ></invitebyemail-card>
          </div>
        </md-tab>

      </md-tabs>


-->




    </md-dialog-content>
  </form>
</md-dialog>
