<div id="floating-add" flex hide-sm hide-xs>
  <div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-scroll-shrink md-open="false" md-direction="up"
                       ng-class="floatingAddSelectedMode">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon md-svg-src="img/icons/ic_add_black_48px.svg"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Like" class="md-fab md-raised md-mini" ui-sref="group-add">
          <md-icon md-svg-src="img/icons/ic_group_add_black_48px.svg" aria-label="Google Hangout"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>
