<md-toolbar layout="row">
  <div class="md-toolbar-tools card-heading">
    <span>Friends ({{ allContacts.length }})</span>
  </div>
</md-toolbar>
<md-content>
  <md-list flex>

    <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in allContacts">
      <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
      <div class="md-list-item-text compact">
        <h3>{{contact.name}}</h3>
        <p>{{contact.email}}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
