<div class="navbar md-whiteframe-z1 no-radius flex layout-align-center-center">

<div class="col-md-8 col-md-offset-2">
  <!-- / -->
    <ul class="nav navbar-nav navbar-left">
      <li>
      <a md-ink-ripple="" class="pardna-logo " ui-sref="home">

    </a>
  </li>
    </ul>

  <!-- / -->
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a md-ink-ripple="">
        Payments
      </a>
    </li>
    <li>
      <a ui-sref="invite" md-ink-ripple="">
        Invite Friends 
      </a>
    </li>
    <li>
      <a md-ink-ripple="">
        Help
      </a>
    </li>
    <li>
      <a ui-sref="logout" md-ink-ripple="">
        Logout
      </a>
    </li>
    <li>

    </li>
  </ul>
  <!-- / -->
</div>
  <!-- Search form -->

</div>
