<div id="floating-add" flex hide-sm hide-xs>
  <div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-scroll-shrink md-open="false" md-direction="up"
                       ng-class="floatingAddSelectedMode">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Share" class="md-fab md-raised md-mini">
          <md-icon md-svg-src="img/icons/share-arrow.svg" aria-label="Twitter"></md-icon>
        </md-button>
        <md-button aria-label="Toggle" class="md-fab md-raised md-mini">
          <md-icon md-svg-src="img/icons/toggle-arrow.svg" aria-label="Facebook"></md-icon>
        </md-button>
        <md-button aria-label="Like" class="md-fab md-raised md-mini">
          <md-icon md-svg-src="img/icons/favorite.svg" aria-label="Google Hangout"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>
