<md-card class="md-padding" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
  <div class="card-tools">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div ng-show="! modal">
          <form ng-submit="sendInvitations()">
            <div class="form-group">
              <label for="message">Personalise your message</label>
              <textarea ng-model="invite.message" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="emailAddresses">Email addresses (Separate multiple emails with commas) </label>
              <input type="text" class="form-control" ng-model="invite.emails" id="emailAddresses" placeholder="">
            </div>
            <button type="submit" md-ink-ripple="" class="md-btn md-primary md-button md-raised pull-right p-h-md md-default-theme"> Invite </button>
          </form>
        </div>
        <div ng-show="modal">
          <div class="form-group">
            <label for="message">Personalise your message</label>
            <textarea ng-model="invite.message" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="emailAddresses">Email addresses (Separate multiple emails with commas) </label>
            <input type="text" class="form-control" ng-model="invite.emails" id="emailAddresses" placeholder="">
          </div>
          <button type="submit" ng-click="sendInvitations()" md-ink-ripple="" class="md-btn md-primary md-button md-raised pull-right p-h-md md-default-theme"> Invite </button>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</md-card>
